.AboutHeaderScore {
    display: flex;
    justify-content: space-between;
}
.AboutScoreBar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
}
.AboutHeaderScore h3 {
    margin: 0 2vw;
    width: fit-content;
    text-align: left;
    padding-top: 10px;
}
