.AboutWrapper {
    margin: 8vh 12vw;
    padding: 5vh 0 5vh 0;
    border-bottom: 1px solid #C8C8CE;
    border-top: 1px solid #C8C8CE;
    display:flex;
}
.AboutWrapper-title {
    width: 25vw;
    color: #1D1D1E; 
    font-size: 40px;
    font-weight: 600;
    padding-right: 1vw;
}
.AboutWrapper-content {
    width: 75vw;
    color: #161618; 
    padding-left: 1vw;
}
