.AboutWrapper {
    margin: 8vh 12vw 0 12vw;
    padding: 5vh 2vw 0 2vw;
    border-top: 1px solid #c8c8ce;
    display: flex;
}
.AboutWrapperNarrow {
    margin: 5vh 5vw 0 5vw;
    padding: 5vh 2vw 0 2vw;
    border-top: 1px solid #c8c8ce;
}
.AboutWrapperNarrow .AboutWrapper-title {
    width: 100%;
    color: #1d1d1e;
    font-size: 40px;
    font-weight: 600;
    padding: 1vh 2vw;
}
.AboutWrapper .AboutWrapper-title {
    width: 30vw;
    color: #1d1d1e;
    font-size: 40px;
    font-weight: 600;
    padding-right: 1vw;
}
.AboutWrapperNarrow .AboutWrapper-content {
    color: #161618;
    padding: 1vh 2vw;
    font-size: 20px;
}
.AboutWrapper .AboutWrapper-content {
    width: 75vw;
    color: #161618;
    padding-left: 1vw;
    font-size: 20px;
}
