.AboutHeader-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 5vw;
}
.AboutHeader-left {
    width: 20vw;
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
}
