.App {
    top: 0;
}

.Header {
    display: flex;
    height: 7vh;
    background-color: #262626;
    color: #cdcdcd;
    padding: 0 6vw;
    justify-content: space-between; /* Pack flex items from the end */
    align-items: center;
    overflow-y: scroll;
}

.Header a {
    margin: 0 1.5vw;
    padding: 0 0;
}

.HeaderRightNarrow {
    background-color: #262626;
    color: #cdcdcd;
    display: flex;
    justify-content: flex-end; /* Pack flex items from the end */
}

/* Material-ui */
.MuiButton-label {
    font-weight: 800;
    color: white;
}
.Header-selected > .MuiButton-label {
    font-weight: 800;
    color: #ea7d4e;
}

a :hover {
    color: #ebebeb;
}

.MuiButtonBase-root :hover {
    font-weight: 800;
}
