.App {
    top: 0;
}

.Header {
    display: flex;
    height: 7vh;
    background-color: #262626;
    color: #cdcdcd;
    padding: 0 6vw;
}

.HeaderRight {
    margin-left: auto;
}

/* Material-ui */
.MuiButton-label {
    font-weight: 800;
    color: white;
}
.Header-selected > .MuiButton-label {
    font-weight: 800;
    color: #ea7d4e;
}

a :hover {
    color: #ebebeb;
}

.MuiButtonBase-root :hover {
    font-weight: 800;
}
