.Work {
    width: auto;
    height: 93vh;
    background-color: #ececef;
    padding-left: 3vw;
    padding-right: 3vw;
    overflow-y: auto;
}

ul {
    margin: 0 0;
    padding: 0 3vw;
}
.Work-top {
    font-size: 40px;
    margin-top: 3vh;
    text-align: center;
}
