/*.WorkCardWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}*/
.WorkCardWrapper {
    padding: 7vh 0 7vh 0;
    border-bottom: 1px solid #c8c8ce;
    display: flex;
    justify-content: start;
    margin: 0 8vw;
    height: 100%;
}
