.WorkCard {
    display: flex;
    margin: 5vh 0;
    background-color: yellow;
    border-radius: 25px;
    width: 70vw;
    padding-right: 2vw;
}
.WorkCard .MuiButton-label {
    color: #0a59bd;
}
img {
    height: 30vh;
}
.WorkCard-right{
    display: flex;
    flex-direction: column;
    width: auto;
}
.WorkCard-right-top {
    height: 50%;
    padding-left: 3vw;
}
.WorkCard-right-bot {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 50%;
}

.WorkCard-right-bot div {
    color: #0a59bd;
    font-weight: 800;
    font-size: 15px;
}
