.WorkCard {
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
    background-color: #EFEFEF;
    border-radius: 25px;
    width: 70vw;
    padding: 2vh 1vw;
}
.WorkCard .MuiButton-label {
    color: #0a59bd;
}
img {
    width: 30vw;
}
.WorkCard-right{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: right;
}
.WorkCard-right-top {
    height: 90%;
    padding-left: 3vw;
}
.WorkCard-right-bot {
    position: inline-block;
    width: fit-content;
    color: #0a59bd;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10%;
}
.WorkCard-right-bot:hover {
    border-bottom:2px solid;
}
