/*.WorkCardWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}*/
.WorkCardWrapper {
    margin: 0 8vw;
    padding: 7vh 0 7vh 0;
    border-bottom: 1px solid #C8C8CE;
    display:flex;
}
