.Work {
    width: auto;
    height: 93vh;
    background-color: #FFFFFF;
    overflow-y: auto;
}

ul {
    margin: 0 0;
    padding: 0 3vw;
}
.Work-top {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #999999;
    border-bottom: 1px solid #C8C8CE;
    margin: 0 8vw;
    padding: 8vh 0;
}
