.WorkCard {
    display: flex;
    justify-content: flex-start;
    /*background-color: #EFEFEF;*/
    padding: 2vh 0 2vh 7vw;
    height: 100%;
}
.WorkCardNarrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.WorkCardNarrow img {
    width: 100%;
}
.WorkCard .MuiButton-label {
    color: #0a59bd;
}
.WorkCard-left {
    padding-left: 1vw;
    width: 40%;
    height: 100%;
}
.WorkCard img {
    /*width: 550px;*/
    width: 100%;
}
.WorkCard-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8vw;
}
.WorkCard-right-top {
    height: 90%;
}
.WorkCard-right-bot {
    position: inline-block;
    width: fit-content;
    color: #0a59bd;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    padding-top: 2vh;
}
.WorkCard-right-bot:hover {
    border-bottom: 2px solid;
}
.WorkCard-right-top-title {
    font-size: 25px;
    margin-bottom: 2vh;
}
.WorkCard-right-top-title h3 {
    width: fit-content;
}
.WorkCard-right-top-list ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
}
.WorkCard-right-top-list li {
    color: #999999;
    padding: 0.5vh 0;
}
