.App {
    top: 0;
}

.Header {
    display: flex;
    height: 7vh;
    background-color: black;
    padding-left: 6vw;
    padding-right: 6vw;
}

.HeaderRight {
    margin-left: auto;
}

a {
    text-decoration:none;
}
