.App {
    top: 0;
}

.Header {
    display: flex;
    height: 7vh;
    background-color: #262626;
    color: #CDCDCD;
    padding-left: 6vw;
    padding-right: 6vw;
}

.HeaderRight {
    margin-left: auto;
}

/* Material-ui */
.MuiButton-label {
    font-weight: 800;
    color: white;
}
.Header-selected > .MuiButton-label {
    font-weight: 800;
    color: #EA7D4E;
}

a :hover {
    color: #EBEBEB;
}

.MuiButtonBase-root :hover {
    font-weight: 800;
}
